.navbar-toggle{
  margin-top: 15px !important;
}
.navbar-brand{
  padding: 0;
}
.logo-img{
    width:75px;
   height:65px ;
}
.edit-brand {
  color: #5C1B13 !important;
  margin: 0.2em;
  font-size: 2.5em;
  font-weight: 900;
}
.navbar-edit{
  margin:1em 0 2em 0;
  color:#5C1B13;
  text-align:center;
}
.navbar-edit a{
  display:inline-block;
  font-size:2em;
  color: #5C1B13;
}
.navbar-edit a:hover{
  color: #fff;
  background-color: #5C1B13;
}
.cities {
  border: 1px solid black;
  padding: 1em;
  text-align: center;
  margin: 1em;
}
.cities a {
  color: #5C1B13;
  display: inline-block;
}
.city-list a{
  margin: 0.5em;
  color: #5C1B13;
}
.city-list a:hover{
  color: #fff;
  background-color: #5C1B13;
}
.gold{
  margin-bottom: 5em;
  background: #DAA520;
  border-radius: 0 0 6px 6px !important;

background: linear-gradient(100deg, #DAA520 36%, #F0E68C 100%);

background: -webkit-linear-gradient(100deg, #DAA520 36%, #F0E68C 100%);

background: -moz-linear-gradient(100deg, #DAA520 36%, #F0E68C 100%);

background: -o-linear-gradient(100deg, #DAA520 36%, #F0E68C 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='DAA520', endColorstr='#F0E68C',GradientType=1 );
}
.gold h1{
  text-align: center;
  font-size: 4.5em;
}
.percent{
  text-align: center;
  margin-bottom: 2em;
    margin-top: -1em;
}
.percent-up {
  /* font-size:0.3em; */
  color:darkgreen;
}
.percent-down {
  /* font-size:0.3em; */
  color:red;
  text-align: center;
}
.arrow-up{
  color:#007500;
  font-size:0.6em;
}
.arrow-down{
  color:red;
  font-size:0.6em;
}
.heading-gold h4 {
  text-align: center;
  margin: 0;
  background-color: #5C1B13;
  padding: 0.5em;
  color: #fff;
  border-radius: 5px 5px 0 0;
  text-transform: capitalize;
}
.heading-silver h4 {
  text-align: center;
  margin: 0;
  background-color: #363636;
  padding: 0.5em;
  color: #fff;
  border-radius: 5px 5px 0 0;
  text-transform: capitalize;
}
.silver{
  margin-bottom: 3em;
  opacity:0.3;
  background: #CCCCCC;

background: linear-gradient(100deg, #919191 26%, #CCCCCC 100%);

background: -webkit-linear-gradient(100deg, #919191 26%, #CCCCCC 100%);

background: -moz-linear-gradient(100deg, #919191 26%, #CCCCCC 100%);

background: -o-linear-gradient(100deg, #919191 26%, #CCCCCC 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='CCCCCC', endColorstr='#919191',GradientType=1 );
}
.silver h1{
  position: relative;
  text-align: center;
  font-size: 4.5em;

}
.silver:before {
    content: "Coming Soon!";
    font-size: 2em;
  }
.label-gold{
  position: relative;
  font-size: 1.5em;
  box-shadow:3px 3px 15px 5px #DAA520;
  color: #BD8F1C;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: center;
}
.bolt-l {
  position: absolute;
  top:15%;
  left:2%;
}
.bolt-r{
  position: absolute;
  top:15%;
  right:2%;
}
.label-silver{
  position: relative;
  font-size: 1.5em;
  box-shadow:3px 3px 15px 5px #919191;
  color: #7D7D7D;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: center;
}
.gold-summary{
}
.gold-summary p {
  font-size: 1em;
  font-weight: bold;
  color: #5C1B13;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2.5em;
}
.jumbotron-container{
  position: relative;
}
.table-bordered{
  width: 50%;
  margin: auto;
  padding: 0.5em;
  margin-bottom: 0;
}
.table-bordered tbody tr td{
  text-align: center;
  border-color: #5C1B13;
  color: #5C1B13;
}
.price-summary p{
  font-size: 1em;
  font-weight: bold;
  text-align:center;
}
.table-ps{
  width: 90%;
}
.label-loc{
  margin:1em 0 2em 0;
  color:#5C1B13;
  text-align: center;
}
.label-loc a{
  display:inline-block;
  font-size:2em;
}
footer{
  background-color: #5C1B13;
  padding: 1em;
}
footer p {
  color: #fff;
  margin: 1em;
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1024px) {

  .city-list a{
    margin: 0.2em;
    color: #5C1B13;
  }
  .label-loc{
    display: none;
  }
  .navbar-edit{
    margin:1em;
  }
  .navbar-edit a{
    font-size: 1.5em;
  }

}
/* for tablets */
@media (min-width: 768px) and (max-width:1023px) {
}
 /* for small laptops */
@media (min-width: 1024px) and (max-width:1439px){
}
/* for 4k desktops */
@media (min-width: 2560px) {
}
@media (min-width:1440px) and (max-width:2559px){
}
/* for small phones */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .edit-brand{
      font-size: 1.5em;
    }
    .logo-img{
      height: 55px;
    }
    .gold h1{
      font-size: 4em;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}
