{% extends 'base.html' %}
{% block content %}

<div>
  <h3 style="text-align:center">List of Cities</h3>
</div>
<div class="city-list" style="margin:1.5em;">
{% for city in cities%}
  <a class="btn btn-default" href="/gold-price-today/{{city}}" role="button">{{city}}  </a>
{% endfor %}
</div>
<footer>
  <p>Made with <span class="glyphicon glyphicon-heart"></span> in India</p>
  <p>Contact : <a href="mailto:contact@goldrateindia.net">contact@goldrateindia.net</a></p>
  <p>&copy; GoldRateIndia 2018. All rights reserved.</p>
</footer>
{% endblock content %}
