{% extends 'base.html' %}
{% block title %}Today's Gold Rate in {{ object.City }} on {{object.DateTimeFromEdited}}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="jumbotron-container">


        <div class="heading-gold">
          <h4>Gold Rate In {{ object.City }}</h4>
        </div>

        <div class="jumbotron gold">

          <span class="label-gold">
            24karat-10gm
        <span class="bolt-l glyphicon glyphicon-remove-sign"></span>
          <span class="bolt-r glyphicon glyphicon-remove-sign"></span>
          </span>
          <h1>&#8377;{{ object.GoldPrice }}
        {% if object.Status %}
          <span class="arrow-up glyphicon glyphicon-arrow-up"></span>
          {%else%}
          <span class="arrow-down glyphicon glyphicon-arrow-down"></span>
          {% endif %}

      </h1>
      <div class="percent">
        {% if object.Status %}
          <span class="percent-up">Change: ({{object.ChangePercentage}})</span>
          {%else%}
          <span class="percent-down">Change: ({{object.ChangePercentage}})</span>
          {% endif %}
      </div>

          <div class="price-summary">
            <p>Updates every 30 mins</p>
            <table class="table table-bordered table-ps">
              <tr>
                <td>Last Updated</td>
                <td>{{ object.DateTimeFromEdited }}</td>
              </tr>
            </table>
          </div>
          <div class="gold-summary">
            <p>
              Today's Gold price in {{ object.City }} for 24 karat gold is &#8377;{{ object.GoldPrice }} rupees per 10 grams. {% if object.TwoTwoK != 0 %} Gold price in {{ object.City }} for 22 karat gold is &#8377;{{ object.TwoTwoK }} rupees per 10 grams. {% endif %}
            </p>
          </div>
          <table class="table table-bordered">
            <tr>
              <td>24k</td>
              <td>&#8377;{{ object.GoldPrice }}</td>
            </tr>
            {% if object.City != 'India' %}
            <tr>
              <td>22k</td>
              <td>&#8377;{{ object.TwoTwoK }}</td>
            </tr>
            {% endif %}
          </table>
        </div>
      </div>
      <div class="heading-silver">
        <h4>Silver Rate In {{ object.City }}</h4>
      </div>

      <div class="jumbotron silver">
        <span class="label-silver">
          1000gm
      <span class="bolt-l glyphicon glyphicon-remove-sign"></span>
        <span class="bolt-r glyphicon glyphicon-remove-sign"></span>
        </span>
        <h1>&#8377;--,---</h1>

      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="label-loc">
        <a href="/gold-price-today/cities">List of Cities</a>
      </div>
      <div class="city-list">
        {% for city in cities%}
        <a class="btn btn-default" href="/gold-price-today/{{city}}" role="button">{{city}}</a>
         {% endfor %}
      </div>

    </div>
  </div>
</div>

<footer>
  <p>Made with <span class="glyphicon glyphicon-heart"></span> in India.</p>
  <p>Contact : <a href="mailto:contact@goldrateindia.net">contact@goldrateindia.net</a></p>
  <p>&copy; GoldRateIndia 2018. All rights reserved.</p>
</footer>
{% endblock content %}
