<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
{% for post in object_list %}
<div class="post-entry">
  <h2>{{ post.Date }}</h2>
<h4>{{ post.GoldPrice }}</h4>
<p>{{ post.City }}</p>
</div>
{% endfor %}
{% endblock content %}
