{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="jumbotron-container">

    <div class="heading-gold">
      <h4>Gold Rate In {{ object.City }}</h4>
    </div>

    <div class="jumbotron gold">

      <span class="label-gold">
            24karat-10gm
        <span class="bolt-l glyphicon glyphicon-remove-sign"></span>
      <span class="bolt-r glyphicon glyphicon-remove-sign"></span>
      </span>
      <h1>&#8377;{{ object.GoldPrice }}
        {% if object.Status == High %}
          <span class="arrow-up glyphicon glyphicon-arrow-up"></span>
        {% else %}
          <span class="arrow-down glyphicon glyphicon-arrow-down"></span>
        {% endif %}
      </h1>
      <div class="price-summary">
        <p>Updates every 30 mins</p>
        <table class="table table-bordered table-ps">
          <tr>
            <td>Last Updated</td>
            <td>{{ object.DateTimeFromEdited }}</td>
          </tr>
          <tr>
            <td>Previous Price</td>
            <td>&#8377;{{ object.PreviousPrice }}</td>
          </tr>
        </table>
      </div>

      <div class="gold-summary">
        <p>
          Today gold price in {{ object.City }} for 24 karat gold is 30,310 rupees per 10 grams. Gold price in {{ object.City }} for 22 karat gold is 28,850 rupees per 10 grams.
        </p>
      </div>
      <table class="table table-bordered">
        <tr>
          <td>24k</td>
          <td>&#8377;{{ object.GoldPrice }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div style="margin:1em 0 2em 0;color:#5C1B13;text-align:center;">
    <a style="display:inline-block;font-size:2em;" href="/gold-price-in-cities">List of Cities</a>
  </div>

  <div class="heading-silver">
    <h4>Silver Rate In {{ object.City }}</h4>
  </div>
  <div class="jumbotron silver">
    <span class="label-silver">
          1000gm
      <span class="bolt-l glyphicon glyphicon-remove-sign"></span>
    <span class="bolt-r glyphicon glyphicon-remove-sign"></span>
    </span>
    <h1>&#8377;58,375<span class="arrow-up glyphicon glyphicon-arrow-up"></span></h1>
    <div>

    </div>
  </div>
</div>
{% endblock content %}
