<!-- templates/post_detail.html -->
{% extends 'base.html' %} {% block content %}
<div class="post-entry">
  <h2>{{ post.Date }}</h2>
  <h3>{{ post.City }}</h3>
  <p>{{ post.GoldPrice }}</p>
</div>
{% endblock content %}
